.header-block {
    background: var(--Lavender, #F4F0F8);
    height: 550px;
}
.container {
    margin: auto;
    width: 1280px;
}
.header-block .container {
    padding-top: 128px;
}
.header-block .d-flex {
    display: flex;  
    justify-content: space-evenly;
}
h1 {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
    width: 669px;
    margin-bottom: 24px;
}
h1 + p {
    color: var(--Medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 645px;
    margin-bottom: 24px;
}
.social {
    display: flex;
    width: 112px;
    height: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    text-align: center;
}
.colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 105px;
}
.colors > div {
    width: 843px;
    height: 23px;
    flex-shrink: 0;
    background-color: #FFD050;
    
}
.colors > div + div {
    width: 282px;
    height: 23px;
    flex-shrink: 0;
    background-color: #592EA9;
}