<main>
    <section>
        <div class="container">
            <h1>All posts</h1>
            <div class="des"></div>
            <div class="block1">
                <div class="mini-block d-flex" *ngFor="let item of image">
                    <img [src]="item.image" alt="image">
                    <div class="m-55" *ngFor="let item of item.post">
                        <a href="#">{{item.link}}</a>
                        <h2>{{item.title}}</h2>
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secBlock2">
        <div class="container">
           <h3>
                <a href="#">< Prev </a>
           </h3>
            <h3>
                <a href="#">Next ></a>
            </h3>
        </div>
    </section>
    <section class="secBlock3">
        <div class="container">
            <h2>
                All Categories
            </h2>
        </div>
    </section>
</main>