<footer>
    <div class="container">
        <div>
            <nav class="nav-block">
                <div>
                    <a href="#">
                        <img src="../../../assets/images/image1/Logo.png" alt="image">
                    </a>
                </div>
                <div class="pages">
                    <a routerLink="/layout/home">Home</a>
                    <a routerLink="/layout/blog">Blog</a>
                    <a routerLink="/layout/about">About Us</a>
                    <a routerLink="/layout/contact">Contact us</a>
                    <a routerLink="/layout/privace_policy">Privacy Policy</a>
                </div>
            </nav>
        </div>
        <div class="footer-block">
            <div class="back-col">
                <h2>
                    Subscribe to our news letter to get 
                    latest updates and news
                </h2>
                <app-form></app-form>
            </div>
            <div class="last-block d-flex">
                <div>
                    <p>
                        Finstreet 118 2561 Fintown
                    </p>
                    <div>
                        Hello_finsweet.com  020 7993 2905
                    </div>
                </div>
                <div>
                    <a href="https://facebook.com/">
                        <img src="../../../assets/images/image1/face2.png" alt="image">
                    </a>
                    <a href="https://twitter.com/">
                        <img src="../../../assets/images/image1/twit2.png" alt="image">
                    </a>
                    <a href="https://www.instagram.com/">
                        <img src="../../../assets/images/image1/inst2.png" alt="image">
                    </a>
                    <a href="https://www.linkedin.com/">
                        <img src="../../../assets/images/image1/link2.png" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>