<header>
    <div class="header-block">
        <h3>Contact us</h3>
        <h1>
            Let's Start a Conversation
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim.
        </p>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <div class="block-1 d-flex">
                <div class="flex-col">
                    <h2>
                        Working hours
                    </h2>
                    <div class="des"></div>
                    <h5>
                        Monday To Friday
                    </h5>
                    <h5>
                        9:00 AM to 8:00 PM 
                    </h5>
                    <p class="sup-available">
                        Our Support Team is available 24/7
                    </p>
                </div>
                <div class="flex-col">
                    <h2>Contact Us</h2>
                    <div class="des"></div>
                    <h5 class="phone">
                        <a href="tel:02079932905">020 7993 2905</a>
                    </h5>
                    <p>
                        <a href="mailto:hello@finsweet.com">hello.finsweet.com</a>
                    </p>
                </div>
            </div>
            <div class="form">
                <form method="get" [formGroup]="form" (ngSubmit)="submit()">
                    <input type="text" name="name" formControlName="name" placeholder="Full Name">
                    <input type="email" name="email" id="e-mail" formControlName="email" placeholder="Your Email">
                    <select name="" id="">
                        <option value="Query Related">Query Related  </option>
                    </select>
                    <textarea name="Message" id="" cols="30" rows="10"  placeholder="Message"></textarea>
                    <button [disabled]="form.invalid">Send Message</button>
                </form>
            </div>
        </div>
    </section>
</main>