.header-block {
    text-align: center;
    margin-top: 128px;
}
.header-block > h3 {
    color: #232536;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1 {
    color: #232536;
    text-align: center;
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
    margin-top: 12px;
}
h1 + p {
    width: 768px;
    color: var(--Medium-grey, #6D6E76);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin: 24px auto 0;
}
.container {
    margin: auto;
    width: 1280px;
}
.block-1 {
    background: var(--Purple, #592EA9);
    width: 768px;
    height: 240px;
    flex-shrink: 0;
    margin: 64px auto 32px; 
}
main .d-flex {
    display: flex;
    justify-content: space-between;
}
.block-1.d-flex {
    padding: 48px 0 0 64px;
}
.block-1 > .flex-col  h2 {
    color: var(--Light, #FFF);
    opacity: 0.6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.des {
    width: 294px;
    height: 1px;
    opacity: 0.1;
    background: var(--Light, #FFF);
    margin: 16px 0;
}
.block-1 > .flex-col p {
    color: var(--Light, #FFF);
    opacity: 0.6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.block-1 > .flex-col h5 {
    color: var(--Light, #FFF);
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
}
.phone > a {
    color: var(--Light, #FFF);
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
}
.phone + p > a {
    color: var(--Light, #FFF);
    opacity: 0.6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.sup-available {
    color: var(--Light, #FFF);
    opacity: 0.6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
main input {
    display: flex;
    width: 768px;
    padding: 24px;
    align-items: center;
    gap: 10px;
    margin: 0 auto 16px;
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
main input::placeholder {
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
section select, option {
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;  
    display: flex;
    width: 768px;
    padding: 24px;
    align-items: center;
    gap: 10px;
    margin: 0 auto 16px;
}
section textarea{
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    display: flex;
    width: 768px;
    height: 144px;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin: auto;
    resize: none;
}
main form {
    text-align: center;
}
main form button {
    width: 768px;
    height: 64px;
    flex-shrink: 0;
    background: var(--Yellow, #FFD050);
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin: 16px auto 0  ;
}
@media screen and (max-width: 768px) {
    .container {
        width: 98%;
    }
    h1 + p {
        width: 100%;
    } 
    .block-1.d-flex {
        padding: 48px 0 0 2px;
        justify-content: space-evenly;
    }
    main form button  {
        width: 100%;
    }
    section textarea {
        width: 100%;
    }
    section textarea {
        width: 100%;
    }
    main input {
        width: 100%;
    }
    section select, option  {
        width: 100%;
    }
    .block-1 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 98%;
        
    }
    section textarea {
        width: 96%;
        height: 85px;
    }
    main form button {
        width: 95%;
        height: 58px;
    }
    section select, option {
        width: 96%;
    }
    .block-1.d-flex {
        padding: 48px 0 0 16px;
    }
    .des {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .container {
        width: 98%;
    }
    .block-1.d-flex {
        padding: 48px 0 0 0px;
    }
    .block-1 > .flex-col {
        width: 50%;
        margin-left: 12px;
    }
    .phone + p > a {
        font-size: 12px;
    }
    .block-1 > .flex-col h5, .block-1 > .flex-col p {
        font-size: 15px;
    }
    h1 {
        font-size: 40px;
    }
    .header-block {
        margin-top: 64px;
    }
}
@media screen and (max-width: 375px) {
    .block-1 {
        margin: 35px auto 32px;
    }
}