<main>
    <section class="secBlock1">
        <div class="container">
            <div class="d-flex">
                <div class="block1">
                    <div class="d-flex" *ngFor="let item of catPost">
                        <img [src]='item.image' alt="image">
                        <div class="column">
                            <h4>{{item.description.name}}</h4>
                            <h2>{{item.description.title}}</h2>
                            <p>{{item.description.shortDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="block2">
                    <div>
                        <h2>Categories</h2>
                        <div class="des">
                            <a routerLink="/layout/category/startup"><img src="../../../assets/images/image5/shuttle.png" alt=""></a>
                            <h3>
                                <a routerLink="/layout/category/startup">Startup </a>
                            </h3>
                        </div>
                        <div class="des">
                            <a routerLink="/layout/category/business"><img src="../../../assets/images/image5/business-and-trade1.png" alt=""></a>
                            <h3>
                                <a routerLink="/layout/category/business">Business</a>
                            </h3>
                        </div>
                    </div>
                    <div>
                        <div class="des">
                            <a routerLink="/layout/category/economy"><img src="../../../assets/images/image5/economy(1).png" alt="image"></a>
                            <h3>
                                <a routerLink="/layout/category/economy">Economy</a>
                            </h3>
                        </div>
                        <div class="des">
                            <a routerLink="/layout/category/technology"><img src="../../../assets/images/image5/cyborg.png" alt="image"></a>
                            <h3>
                                <a routerLink="/layout/category/technology">Technology</a>
                            </h3>
                        </div>
                    </div>
                    <div class="tags">
                        <h2>All Tags</h2>
                        <div class="d-flex">
                            <div class="business">
                                <h4>Business</h4>
                            </div>
                            <div class="experience">
                                <h4>Experience</h4>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="screen">
                                <h4>Screen</h4>
                            </div>
                            <div class="technology">
                                <h4>Technology</h4>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="marketing">
                                <h4>Marketing</h4>
                            </div>
                            <div class="life">
                                <h4>Life</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>