<nav class="nav-block">
    <div>
        <a href="#">
            <img src="assets/images/image1/Logo.png" alt="image">
        </a>
    </div>
    <div class="pages">
        <a routerLink="/layout/blog">Blog</a>
        <a routerLink="/layout/about">About Us</a>
        <a routerLink="/layout/contact">Contact us</a>
        <button  class="button">Subscribe</button>
    </div>
    <div class="menu1">
        <nav class="menu-nav">
            <input id="menu" type="checkbox">
            <label for="menu">Menu</label>
            <ul class="menu">
              <li>
                <a routerLink="/layout/blog">
                  <span>Blog</span>
                  <i class="fas fa-address-card" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a routerLink="/layout/about">
                  <span>About <br> Us</span>
                  <i class="fas fa-tasks" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a routerLink="/layout/contact">
                  <span>Contact <br> us</span>
                  <i class="fas fa-users" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
        </nav>
    </div>
</nav>
