.header-block{
    background-image: url('../../../assets/images/image1/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png');
    height: 720px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}
.des {
    background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
    height: 100%;
    padding-left: 81px;
}
.des:first-child {
    color: var(--Light, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 128px;
}
.des > p > span {
    color: var(--Light, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1 {
    width: 803px;
    color: var(--Light, #FFF);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2px;
    padding-top: 24px;
    text-transform: none;
}
h1 + p {
    color: var(--Light, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-transform: none;
    margin-top: 24px;
}
.des h1 + p > span {
    color: var(--Yellow, #FFD050);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
h1 + p + p {
    width: 599px;
    color: var(--Light, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-top: 16px;
    text-transform: none;
}
h1 ~ a {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    background: var(--Yellow, #FFD050);
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    gap: 12px;
    margin-top: 48px;
}
.container{
    
    margin: auto;
}
@media screen and (max-width: 992px) {
    h1 {
        width: 92%;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 46px;
    }
    h1 + p + p {
        width: 98%;
    }
}
@media screen and (max-width: 576px) {
    .des {
        margin-top: 0;
    }
}
@media screen and (max-width: 547px) {
    .des {
        padding-left: 25px;
    }
}
@media screen and (max-width: 476px) {
    h1 {
        font-size: 30px;
    }
    .des:first-child {
        font-size: 14px;
        padding-top: 75px;
    }   
    .des h1 + p > span, h1 + p {
        font-size: 14px;
    }
    h1 ~ a {
        font-size: 14px;
        padding: 6px 10px;
    }
}
@media screen and (max-width: 443px) {
    .header-block {
        background-position-x: -138px;
    }
}
@media screen and (max-width: 375px) {
    .des:first-child {
        letter-spacing: 0;
    }
    h1 {
        line-height: 43px;
    }
}