.header-block.d-flex {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
.header-block {
    position: relative;
}
.header-block .block-1 {
    width: 624px;
    height: 356px;
    background: #FFF;
    flex-shrink: 0;
    padding: 64px 0 0 64px;
    position: absolute;
    left: 200px;
    margin-top: 80px;
    z-index: 2;
}
.header-block h3 {
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1 {
    color: var(--Black, #232536);
    margin-top: 16px;
    width: 496px;
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
}
.block-2 {
    margin-top: 182px;
    margin-bottom: 79px;
}
.block-2 > p{
    color: var(--Dark-Grey, #4C4C4C);
    width: 477px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.container {
    width: 1280px;
    margin: auto;
}
.back-img {
    background-image: url('../../../assets/images/image4/photo-of-woman-wearing-eyeglasses-3184405.png');
    height: 444px;
    flex-shrink: 0;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}
.back-y {
    width: 630px;
    height: 156px;
    flex-shrink: 0;
    background: var(--Yellow, #FFD050);
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 265px;
    left: 109px;
    padding-top: 32px;
}
.back-y h3 {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2px;
}
.back-y p {
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.des1 {
    width: 311.477px;
    height: 23px;
    flex-shrink: 0;
    background: var(--Purple, #592EA9);
    position: absolute;
    top: 421px;
    left: 109px;
}
.des2 {
    width: 550px;
    height: 23px;
    flex-shrink: 0;
    background: #FFD050;
    position: absolute;
    top: 421px;
    left: 420.91px;
}
.secBlock2 .container {
    height: 441px;
    background: var(--Lavender, #F4F0F8);
    padding: 128px 109px 0 109px;
}
.secBlock2 .d-flex div {
    width: 510px;
}
.secBlock2 .d-flex {
    display: flex;
    justify-content: space-evenly;
}
.secBlock2 h4 {
    color: var(--Black, #232536);
    margin-bottom: 24px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.secBlock2 h3 {
    color: var(--Black, #232536);
    width: 475px;
    margin-bottom: 16px;
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -1px;
}
.secBlock2 p {
    width: 505px;
    height: 109px;
    flex-shrink: 0;
    color: var(--Medium-grey, #6D6E76);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.secBlock3 {
    margin-top: 128px;
}
.secBlock3 .d-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.secBlock3 > .d-flex > div {
    padding-top: 82px;
}
.secBlock3 h2 {
    color: #232536;
    margin-bottom: 16px;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.secBlock3 h4 {
    color: var(--Black, #232536);
    width: 519px;
    margin-bottom: 16px;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.secBlock3 p {
    color: var(--Black, #232536);
    width: 519px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.shapes {
    background-image: url('../../../assets/images/image4/shapes.png');
    width: 103px;
    height: 116px;
    position: absolute;
    left: 599px;
    top: 114px;
}
.img1 {
    background-image: url('../../../assets/images/image4/img1.png');
    background-size: cover;
    width: 624px;
    height: 480px;
}
.secBlock4 {
    margin-top: 128px;
}
.secBlock4 .d-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.img2 {
    background-image: url('../../../assets/images/image4/img2.png');
    width: 624px;
    height: 480px;
}
.circle {
    background-image: url('../../../assets/images/image4/circle.png');
    width: 74px;
    height: 74px;
    position: absolute;
    top: 443px;
    left: 107px;
}
.secBlock4 .block-text {
    padding-top: 82px;
}
.secBlock4 h2 {
    color: #232536;
    margin-bottom: 16px;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.secBlock4 h4 {
    color: var(--Black, #232536);
    margin-bottom: 16px;
    width: 511px;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.secBlock4 p {
    color: var(--Black, #232536);
    width: 519px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.secBlock5 {
    margin-top: 128px;
}
a {
    text-decoration: none;
}
.secBlock5 h2 {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
    margin-bottom: 48px;
    text-align: center;
}
.d-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.secBlock5 h2 + .d-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 700px;
    align-items: center;
}
.mini-block4 {
    width: 296px;
    height: 324px;
    flex-shrink: 0;
    background: var(--Light-grey, #F4F4F4);
    margin: auto;
}
.mini-block4:hover {
    background: #FBF6EA;

}
.mini-block4 > a > img{
    margin: 40px 0 0 84px;
}
.secBlock5 .d-flex h3  {
    line-height: 40px; /* 142.857% */
    margin-top: 20px;
    text-align: center;
}
.secBlock5 .d-flex h3 > a {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1px;
}
.secBlock5 .d-flex h3 + p {
    color: var(--Medium-grey, #6D6E76);
    text-align: center;
    /* width: 240px; */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-bottom: 20px;
}
.social {
    display: flex;
    width: 112px;
    height: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    margin: auto;
    text-align: center;
}
.social > img {
    width: 16px;
    height: 16px;
}
