@import url('./assets/fonts/transfonter.org/stylesheet.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}
:root {
    --white: #ffffff;
    --light-grey: #edf0f1;
    --violet: #FFD050;
    --dark-violet: #592EA9;
    --black: #21232a;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
