.header-block .d-flex {
    display: flex;
    justify-content: space-evenly;
}
.header-block {
    height: 519px;
    flex-shrink: 0;
    padding-top: 80px;
    background: var(--Lavender, #F4F0F8);
}
.head-img {
    background-image: url('../../../assets/images/image2/header-img.png');
    background-repeat: no-repeat;
    width: 515px;
    height: 359px;
    flex-shrink: 0;
}
.header-block h3 {
    color: var(--Black, #232536);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 14px;
}
.header-block h2 {
    color: var(--Black, #232536);
    width: 624px;
    margin-top: 20px;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.header-block h2 + p {
    color: var(--Dark-Grey, #4C4C4C);
    margin: 16px 0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.header-block span {
    color: var(--Purple, #592EA9);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.header-block p + p {
    color: var(--Medium-grey, #6D6E76);
    width: 624px;
    margin-bottom: 32px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.header-block a {
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    display: inline-flex;
    padding: 16px 48px;
    align-items: flex-start;
    gap: 12px;
    background: var(--Yellow, #FFD050);
}
@media screen and (max-width: 1208px) {
    .header-block p + p, .header-block h2 {
        width: 98%;
    }
    .header-block {
        padding-left: 24px;
    }
}
@media screen and (max-width: 992px) {
    .head-img {
        width: 384px;
        background-size: contain;
    }
    .header-block h2 {
        font-size: 29px;
        line-height: 37px;
    }
}
@media screen and (max-width: 768px) {
    .head-img {
        width: 342px;
    }
    .header-block p + p {
        position: absolute;
        top: 452px;
        width: 87%;
    }
}
@media screen and (max-width: 656px) {
    .head-img {
        width: 291px;
    }
} 
@media screen and (max-width: 535px) {
    .header-block p + p {
        position: static;
    }
    .header-block .d-flex {
        display: flex; 
        flex-direction: column;
    }
    .head-img {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .header-block {
        height: 454px; 
        padding-top: 38px;
    }
}