<header>
    <div class="header-block">
        <div class="d-flex">
            <div>
                <h3>Featured Post</h3>
                <h2>
                    Step-by-step guide to choosing great font pairs
                </h2>
                <p>
                    By <span> John Doe </span> l   May 23, 2022 
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
                <a href="#">Read More ></a>
            </div>
            <div class="head-img"></div>
        </div>
    </div>
</header>
